@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.text-title{
  box-sizing: border-box;
  font-family: "Luckiest Guy", cursive;
  
}


h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

.page {
  @apply w-screen h-full md:h-screen
}

.page-2{
  @apply w-screen h-full 
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

@layer base{

  .h-200 {
    height: 200px; /* Adjust the value as needed */
  }
  .h-300 {
    height: 400px; /* Adjust the value as needed */
  }
  .map-img{
    @apply h-200 lg:h-300 w-full mx-auto ;
  }

  .map-img-2{
    height: 100%;
    width: auto;
  }

}

.title-container{
  @apply flex flex-row px-0 w-full 
}

.running-number{
  @apply md:text-8xl text-7xl font-bold  mr-4 text-title
}

.title-text-container{
  @apply flex flex-col pt-2 text-title
}

.title-text-main{
  @apply md:text-5xl text-xl font-bold text-title
}

.title-text-sub{
  @apply md:text-3xl text-lg text-gray-500 text-title
}


.image-container{
  @apply w-full   flex justify-center
}

.image-container img{
  height: 100%;
  width: auto;
  object-fit: cover;
}

.auto-img-y{
  height: auto;
  object-fit: cover;
}

.description-box{
  @apply  sm:px-0  whitespace-pre-wrap 
}


.map{
  @apply  w-full relative 
}



.map-button{
  @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-80%] px-5 md:px-10 py-2 bg-blue-500 rounded-lg 
}

.inbox-for-p10{
  height: 100vh;
  padding-bottom: 80px;
}

li{
  list-style-type:none;
}

.carousel-title{
  @apply  md:pb-10 pb-5 md:text-8xl text-2xl text-black font-extrabold 
}

.carousel-subtitle{
  @apply  md:text-5xl text-xl text-black font-semibold
}

.carousel-img{
  @apply xl:h-screen h-full w-screen object-cover
}

.bg-main-color{
  @apply bg-yellow-100
}
.bg-sub-color{
  @apply bg-white
}
.border-main-color{
  @apply border-yellow-100
}
.text-main-color{
  @apply text-black
}
.text-sub-color{
  @apply text-black
}

.nav-focus{
  @apply bg-red-400 text-white
}

.nav-normal{
  @apply bg-transparent text-black
}
