@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

.page {
  @apply w-screen h-full lg:h-screen
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.title-container{
  @apply flex flex-row px-0 w-full 
}

.running-number{
  @apply md:text-8xl text-7xl font-bold text-blue-500 mr-4 
}

.title-text-container{
  @apply flex flex-col pt-2
}

.title-text-main{
  @apply md:text-5xl text-xl font-bold 
}

.title-text-sub{
  @apply md:text-3xl text-lg text-gray-500
}

.image-container{
  @apply w-full overflow-clip  flex justify-center
}

.image-container img{
  height: 100%;
  width: auto;
  /* margin: auto; */
  object-fit: cover;
}

.description-box{
  @apply  sm:px-0  whitespace-pre-wrap
}


.map{
  @apply pt-5 w-full overflow-clip  sm:px-0 relative 
}


@layer base{
  .h-200 {
    height: 200px; /* Adjust the value as needed */
  }
  .h-300 {
    height: 400px; /* Adjust the value as needed */
  }
  .map-img{
    @apply h-200 lg:h-300 w-full mx-auto ;
  }

  .map-img-2{
    height: 100%;
    width: auto;
  }
}

.map-button{
  @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-20%] px-10  py-2 bg-red-500 text-white rounded-lg font-bold
}